.eee {
    fount-size: 27px;
    background-color: aqua;
}
.aaa {
    background-color: brown;
    fount-size: 27px;
    border: 10px solid purple;
}
#4{
    background-color: brown;
    fount-size: 27px;
}
.ttt{
    background-color: brown;
    fount-size: 27px;
}
.image1{
    width: 320px;
    border: 10px solid purple;
}